<h2 mat-dialog-title class="text-center">Продукт</h2>
<div mat-dialog-content>
    <form #productForm="ngForm" class="container flex flex-col">
        <mat-form-field class="">
            <mat-label>Название</mat-label>
            <input matInput [readonly]="true" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>Кол-во</mat-label>
            <input matInput [readonly]="true" type="number" [(ngModel)]="product.quantity" name="quantity">
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>Стоимость за единицу</mat-label>
            <input matInput [readonly]="true" type="number" [(ngModel)]="product.unit_cost" name="unit_cost">
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>Ед. изм.</mat-label>
            <input matInput [readonly]="true" [(ngModel)]="product.units_of_measurement.value"
                name="units_of_measurement">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="flex w-full  !justify-between !pb-5 !px-6">

    <button mat-raised-button cdkFocusInitial class=" !bg-black !text-white !w-40 " (click)="onNoClick()">Выйти
        обратно</button>


</div>