<h2 mat-dialog-title>Продукт</h2>
<div mat-dialog-content>
    <form #productForm="ngForm">
        <mat-form-field>
            <input matInput placeholder="Название" [(ngModel)]="product.name" name="name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Количество" [(ngModel)]="product.quantity" name="quantity"
                required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Стоимость за единицу" [(ngModel)]="product.unit_cost"
                name="unit_cost" required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Отмена</button>
    <button mat-button [mat-dialog-close]="product" cdkFocusInitial>Сохранить</button>
</div>