<h2 mat-dialog-title class="text-center">Продукт</h2>
<div mat-dialog-content>
    <form #productForm="ngForm" class="container flex flex-col">
        <mat-form-field class=" ">
            <mat-label>Название</mat-label>
            <input matInput placeholder="Название" [(ngModel)]="product.name" name="name" required>
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>Количество</mat-label>
            <input matInput type="number" placeholder="Количество" [(ngModel)]="product.quantity" name="quantity"
                required>
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>Стоимость за единицу</mat-label>
            <input matInput type="number" placeholder="Стоимость за единицу" [(ngModel)]="product.unit_cost"
                name="unit_cost" required>
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>Ед. изм.</mat-label>
            <!--Какаято шляпа с undefiend-->
            <mat-select [(ngModel)]="product.units_of_measurement.value" name="units_of_measurement" required>
                <mat-option *ngFor="let option of units_of_measurements" [value]="option?.value">
                    {{option?.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="flex w-full  !justify-between !pb-5 !px-6">

    <button mat-raised-button class=" !bg-black !text-white !w-40 " (click)="onNoClick()">Отмена</button>
    <button mat-raised-button class="!w-40" color="primary" [mat-dialog-close]="product"
        cdkFocusInitial>Сохранить</button>

</div>