<h2 mat-dialog-title class="text-center">Единицы измерения</h2>
<div mat-dialog-content>
    <form #productForm="ngForm" class="container flex flex-col">
        <mat-form-field class="">
            <mat-label>Название</mat-label>
            <input matInput [readonly]="true" [(ngModel)]="units_of_measurements.value" name="value">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="flex w-full !justify-center !items-center !pb-5 !px-6">

    <button mat-raised-button cdkFocusInitial class=" !bg-black !text-white !w-40 " (click)="onNoClick()">Выйти
        обратно</button>

</div>